<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>ScenarioRun</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <div>
            <button id="connect" onclick="connect();">Connect</button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
        </div>
        <div id="conversationDiv"><p><label>notice content?</label></p>
            <p><textarea id="name" rows="5"></textarea></p>
            <button id="sendName" onclick="sendName();">Send</button>
            <p id="response"></p></div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var stompClient = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        // 开启socket连接
        function connect() {
            var socket = new SockJS('/socket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
            });
        }

        // 断开socket连接
        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        // 向/app/change-notice服务端发送消息
        function sendName() {
            var value = document.getElementById('name').value;
            stompClient.send("/app/change-notice", {}, value);
        }

        connect();
        /*]]>*/
    </script>
</div>
</body>
</html>