<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>ScenarioRun</title>
</head>
<body>
<div layout:fragment="content">
    <div id="sampler_list"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(
            function noticeSocket() {
                var sock = new SockJS('/socket');
                var stompClient = Stomp.over(sock);
                stompClient.connect({}, function () {
                    console.log('notice socket connected!');
                    stompClient.subscribe('/topic/notice', function (data) {
                        $('#sampler_list').append("<label>" + data.body + "</label><br/>");
                    });
                });
            }
        )
        /*]]>*/
    </script>
</div>
</body>
</html>