<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>场景测试详细结果</title>
</head>
<body>
<div layout:fragment="content">
    <div id="sampler_charts">
        <input type="hidden" id="result_id" name="resultId" th:value="${resultId}"/>
        <input type="hidden" id="data_type" name="dataType" th:value="${dataType}"/>
        <input type="hidden" id="chart_title" name="chartTitle" th:value="${chartTitle}"/>
        <input type="hidden" id="unit" name="unit" th:value="${unit}"/>
        <div id="container" style="min-width:640px; min-height:480px;"></div>
    </div>
    <!-- HighCharts support -->
    <script type="text/javascript" th:src="@{custom/scenarioSampleResult.js}"></script>
</div>
</body>
</html>