<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>ScenarioModify</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-edit"></i> 修改场景 </h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <form id="modify_scenario_form" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="scenarioId" th:value="${scenarioInfo.id}">
                            <div class="form-group">
                                <label for="modify_scenario_name" class="col-sm-1 control-label">场景名称: </label>
                                <div class="col-sm-10">
                                    <input id="modify_scenario_name" class="form-control" name="scenarioName" th:value="${scenarioInfo.scenarioName}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modify_scenario_name" class="col-sm-1 control-label">测试脚本: </label>
                                <div class="col-sm-10">
                                    <input id="modify_script_file" name="scriptFile" type="file" class="file jmx modify" data-show-preview="false" data-allowed-file-extensions='["jmx"]' th:data-msg-placeholder="${scriptFileInfo.scriptFileName}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modify_num_threads" class="col-sm-1 control-label">并发数量: </label>
                                <div class="col-sm-10">
                                    <input id="modify_num_threads" class="form-control" name="numThreads" th:value="${scenarioInfo.numThreads}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modify_ramp_up" class="col-sm-1 control-label">攀升时间: </label>
                                <div class="col-sm-10">
                                    <input id="modify_ramp_up" class="form-control" name="rampUp" th:value="${scenarioInfo.rampUp}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modify_duration" class="col-sm-1 control-label">持续时间: </label>
                                <div class="col-sm-10">
                                    <input id="modify_duration" class="form-control" name="duration" th:value="${scenarioInfo.duration}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modify_scenario_description" class="col-sm-1 control-label">场景描述: </label>
                                <div class="col-sm-10">
                                    <textarea id="modify_scenario_description" class="form-control" rows="7" name="scenarioDescription" th:text="${scenarioInfo.scenarioDescription}"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <input id="modify_scenario_button" type="button" class="btn btn-primary" value="更新"/>
                                        </div>
                                        <span>&nbsp;&nbsp;</span>
                                        <div class="btn-group">
                                            <input id="clear_scenario_button" type="button" class="btn btn-default" value="重置"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list-ol"></i> 修改参数文件 </h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <form id="modify_param_file_slot_list" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="scenarioId" th:value="${scenarioInfo.id}">
                            <div id="param_file_upload_list">
                                <div th:each="csvDataSetSlot,iterStat: ${csvDataSetSlotList}">
                                    <div class='form-group'>
                                        <label th:for="${'csv_data_set_slot_'+iterStat.index}" class='col-sm-2 control-label' th:text="${csvDataSetSlot.testElementName}"></label>
                                        <div class="col-sm-9">
                                            <input name='csvDataSetName' type="hidden" th:value="${csvDataSetSlot.testElementName}"/>
                                            <input th:id="${'csv_data_set_slot_'+iterStat.index}" name="paramFiles" type='file' class='file' data-show-preview='false' data-allowed-file-extensions='["csv"]' th:data-msg-placeholder="${csvDataSetSlot.fileName}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <input id="modify_csv_data_set_button" type="button" class="btn btn-primary" value="保存场景"/>
                                        </div>
                                        <span>&nbsp;&nbsp;</span>
                                        <div class="btn-group">
                                            <input id="clear_csv_data_set_button" type="button" class="btn btn-default" value="重置"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-eye"></i> 脚本预览 </h3>
                </div>
                <div class="panel-body">
                    <div id="modify_script_tree" class="form-horizontal"></div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var $script_tree = $("#modify_script_tree");
        $.ajax({
            url: "/getScenarioScriptDataStructure",
            type: "post",
            data : {
                scenarioId: [[${scenarioInfo.id}]]
            },
            success: function(data) {
                $script_tree.treeview({
                    data: data["scriptDataStructure"]
                });
                $script_tree.treeview('expandAll', {levels: 10, silent: true});
            },
            error: function(result) {}
        });
        /*]]>*/
    </script>
</div>
</body>
</html>