<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>并发数量趋势</title>
</head>
<body>
<div layout:fragment="content">
    <div id="sampler_charts">
        <input type="hidden" name="chartId" value="#thread_trend_chart"/>
        <input type="hidden" name="dataType" th:value="${dataType}"/>
        <input type="hidden" name="chartTitle" value="并发数量趋势"/>
        <input type="hidden" name="unit" value="个"/>
        <div id="thread_trend_chart" style="min-width:640px; min-height:480px;"></div>
    </div>
    <!-- WebSocket support -->
    <script type="text/javascript" th:src="@{js/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{js/stomp.js}"></script>
    <script type="text/javascript" th:src="@{custom/scenarioThreadCountChart.js}"></script>
</div>
</body>
</html>