<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>ScenarioRun</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">
                            <h4>平均响应时间</h4>
                        </div>
                    </div>
                </div>
                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='meanTime')}">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                查看趋势图
                            </div>
                            <div class="col-xs-6 text-right">
                                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='meanTime')}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-area-chart fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">
                            <h4>请求处理能力</h4>
                        </div>
                    </div>
                </div>
                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='requestRate')}">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                查看趋势图
                            </div>
                            <div class="col-xs-6 text-right">
                                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='requestRate')}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-heartbeat fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">
                            <h4>请求错误率</h4>
                        </div>
                    </div>
                </div>
                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='errorPercentage')}">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                查看趋势图
                            </div>
                            <div class="col-xs-6 text-right">
                                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='errorPercentage')}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-male fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">
                            <h4>并发数量趋势</h4>
                        </div>
                    </div>
                </div>
                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='threadCount')}">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                查看趋势图
                            </div>
                            <div class="col-xs-6 text-right">
                                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='threadCount')}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-paper-plane fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">
                            <h4>发送数据量趋势</h4>
                        </div>
                    </div>
                </div>
                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='sentKBPerSecond')}">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                查看趋势图
                            </div>
                            <div class="col-xs-6 text-right">
                                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='sentKBPerSecond')}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="fa fa-paper-plane-o fa-5x"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p class="announcement-text">
                            <h4>接收数据量趋势</h4>
                        </div>
                    </div>
                </div>
                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='receiveKBPerSecond')}">
                    <div class="panel-footer announcement-bottom">
                        <div class="row">
                            <div class="col-xs-6">
                                查看趋势图
                            </div>
                            <div class="col-xs-6 text-right">
                                <a th:href="@{scenarioChartDetail(scenarioId=${scenarioId},dataType='receiveKBPerSecond')}"><i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>